<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more inf1ormation on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AccesoInfoAuto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ComunidadEntities" connectionString="metadata=res://*/ModelMDD.csdl|res://*/ModelMDD.ssdl|res://*/ModelMDD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MDD;persist security info=True;user id=sa-sbi;password=Sbi-123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FoxEntities" connectionString="metadata=res://*/ModelAntecedentesInternos.csdl|res://*/ModelAntecedentesInternos.ssdl|res://*/ModelAntecedentesInternos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Fox;persist security info=True;user id=sa-sbi;password=Sbi-123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EIVEntities" connectionString="metadata=res://*/ModelEIV.csdl|res://*/ModelEIV.ssdl|res://*/ModelEIV.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Temporal_BienesRaices;user id=sa-sbi;password=Sbi-123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ApplicationDbContext (ComunidadEntities)" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=ApplicationDbContext (ComunidadEntities)-20160810123640; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|ApplicationDbContext (ComunidadEntities)-20160810123640.mdf" providerName="System.Data.SqlClient" />
    <add name="WebApiComunidadContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=WebApiComunidadContext-20160810123743; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|WebApiComunidadContext-20160810123743.mdf" providerName="System.Data.SqlClient" />
    <add name="SolicitudesCreditoContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=SolicitudesCreditoContext-20161014163738; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|SolicitudesCreditoContext-20161014163738.mdf" providerName="System.Data.SqlClient" />
    <add name="LineasContext" connectionString="metadata=res://*/ModelMDD.csdl|res://*/ModelMDD.ssdl|res://*/ModelMDD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MDD;persist security info=True;user id=sa-sbi;password=Sbi-123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <AccesoInfoAuto.Properties.Settings>
      <setting name="AccesoInfoAuto_B2BSanCristobalSeguros_WS_ServiciosB2B" serializeAs="String">
        <value>https://ws-externos.sancristobal.com.ar/wsb2b/WS_ServiciosB2B.asmx</value>
      </setting>
    </AccesoInfoAuto.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="NosisUrl" value="http://sac.nosis.com.ar/" />
    <add key="NosisRequest" value="SAC_ServicioSF/Consulta_test.asp" />
    <add key="NosisUsuario" value="60923" />
    <add key="NosisPassword" value="272438" />
    <add key="NosisCons_CDA" value="3036051" />
    <!--<add key="NosisUsuario" value="60576" />
    <add key="NosisPassword" value="777471" />
    <add key="NosisCons_CDA" value="1026054" />-->
    <!--<add key="VerazUrl" value="https://online.org.veraz.com.ar/" />
    <add key="VerazRequest" value="pls/consulta817/wserv/" />
    <add key="VerazMatriz" value="GO6500" />
    <add key="VerazPassword" value="110224870051101206368" />
    <add key="VerazUsuario" value="XML" />
    <add key="VerazSector" value="03" />
    <add key="VerazSucursal" value="0" />-->
    <add key="VerazUrl" value="https://online.org.veraz.com.ar/" />
    <add key="VerazRequest" value="pls/consulta817/wserv/" />
    <add key="VerazMatriz" value="C21965" />
    <add key="VerazPassword" value="85557540964398036112790730939" />
    <add key="VerazUsuario" value="XML" />
    <add key="VerazSector" value="01" />
    <add key="VerazSucursal" value="0" />
    <add key="UusarioAutenticationCORS" value="test" />    
    <add key="PasswordAutenticationCORS" value="test" />
    <!--<add key="SHPUrl" value="http://192.168.210.23" />-->
    <add key="SHPUrl" value="http://solicitudcreditosf.sancristobalsf.com.ar" />
    <add key="SHPClave" value="Basic cy5wZWNvdmljaDpTaWwuMjAxNg==" />
    <add key="NroPolizaSantaFe" value="02-17-01005120/1" />
    <add key="NroPolizaBahiaBlanca" value="04-17-01001208/8" />
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength="20480" executionTimeout="180" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <modules>
      <add name="BasicAuthHttpModule" type="WebApiComunidad.Modules.BasicAuthHttpModule" />      
    <add name="HandleOptions" type="WebApiComunidad.Modules.OptionsModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.10.0" newVersion="5.5.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
